# System files
.DS_Store

# Environment
.env
.venv
venv/
env/
ENV/
**/venv/
Email-Sms_Intelligent-model/venv/
**/site-packages/
**/__pycache__/

# Python cache files
__pycache__/
*.py[cod]
*.so

# Local data
datasets/

